@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');


.container {
    max-width: 80vw;
}

#searchColumn {
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif; 
}

#headerRow {
    background: #16A249;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#header {
    color: white;
}

#searchButtonBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0px;
    margin-top: 20px;
}

.btn-secondary {
    margin: 20px auto;
}

.btn-success {
    width: 80%;
}

.resultBox {
    height: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}


.searchButton {
    margin-right: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;   
    z-index: 20;
}