@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');


.container {
    max-width: 80vw;
}

#searchColumn {
    padding: 0px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif; 
}

#headerRow {
    background: #16A249;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#header {
    color: white;
    font-size: 22px;
}

.searchButtonBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0px;
    margin-top: 20px;
}

.btn-secondary {
    margin: 20px auto;
}

.btn-success {
    width: 80%;
}

.resultBox {
    height: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.petPic {
    max-height: 150px;
}

.searchButton {
    margin-right: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;   
    z-index: 20;
}

.stateBreed {
    margin-top: 40px;
}

.mainRow {
    margin-top: 20px;
}

#wikitext {
    margin-top: 40px;
}

#homeLink:hover {
    cursor: pointer;
    text-decoration: none;
}

.enabled {
    background: white;
    color: green;
    border: 2px solid green;
}

img:hover {
    cursor: pointer;
}